<div id="body">
    <table id="table1">
        <tr id="title1">
            <th id="th1" colspan="4">INFORME MAQUINARIA</th>
            <th id="th2" rowspan="3">
                <img id="img1" src="./../../assets/Logo-Inagra.jpg" alt="inagra">
            </th>
        </tr>
        <tr id="tr11">
            <td id="text11">FECHA:</td>
            <td id="write1" contenteditable='true'></td>
            <td id="text12">VEHICULO:</td>
            <td id="write2" contenteditable='true'></td>
        </tr>
        <tr>
            <td id="td12" contenteditable='true' colspan="4"></td>
        </tr>
    </table>
    <table id="table2">
        <tr id="title2">
            <td>OBSERVACIONES POSITIVAS</td>
            <td>OBSERVACIONES NEGATIVAS</td>
        </tr>
        <tr id="tr21">
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr id="tr22">
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr id="tr23">
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr id="tr24">
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr id="tr25">
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr id="tr26">
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr id="tr27">
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr id="tr28">
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr id="tr29">
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr id="tr210">
            <td contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr id="tr211">
            <td colspan="2">VALORACION GENERAL</td>
        </tr>
        <tr id="tr212">
            <td colspan="2" contenteditable='true'></td>
        </tr>
    </table>
    <button id="button" type="button" (click)="pasarexcel()">Pasar a excel</button>
    <div id="space"></div>
</div>