<div id="body">
    <table id="t2">
        <tr>
            <td class="small">FECHA</td>
            <td contenteditable='true'></td>
            <td class="small">NOMBRE Y APELLIDOS</td>
            <td contenteditable='true'></td>
            <td class="small">VEHICULO Nº</td>
            <td contenteditable='true'></td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="blue">CONOCIMIENTO MECANICO</td>
            <td class="sino">SI</td>
            <td class="sino">NO</td>
            <td>EXPLICACION BREVE</td>
        </tr>
        <tr>
            <td class="noblue">PARTES DEL VEHICULO</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">DETECCION DE POSIBLES AVERIAS</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">NIVELES</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="blue">CIRCULACION</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">PENDIENTE A LA CIRCULACION</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">SE APARTA PARA EVITAR ATASCOS</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">VELOCIDAD EN DESPLAZAMIENTOS</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">RESPETA LAS DISTANCIAS</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">MANIOBRAS</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">PRECAUCION CON VIANDANTES</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">PRECAUCION CON VEHICULOS</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="blue">APTITUDES</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">ADMITE CONSEJOS</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">DECIDIDO/A</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">CONSTANTE</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">INTERES</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">ATENTO/A</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">LIMPIEZA/CABINA</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">CUIDA EL VEHICULO</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="blue">TRABAJANDO</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">VELOCIDAD AL TRABAJAR</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">ESTA PENDIENTE AL RESULTADO</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">REALIZA COMPROVACIONES POR POSIBLES AVERIAS</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">ADTITUD CON LOS DEMAS CONDUCTORES</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td class="noblue">CONOCIMIENTO CALLES</td>
            <td class="sino" contenteditable='true'></td>
            <td class="sino" contenteditable='true'></td>
            <td contenteditable='true'></td>
        </tr>
        <tr>
            <td colspan="4" id="observaciones">OBSERVACIONES</td>
        </tr>
        <tr>
            <td colspan="4" id="td-final" contenteditable='true'></td>
        </tr>
    </table>
    <div id="space"></div>
    <button id="button" type="button" (click)="pasarexcel()">Pasar a excel</button>
    <div id="space"></div>
</div>